@using WebApplication1.Models
@{
    Layout = null;
}
@model List<Pagamento>

<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Valor</th>
        <th>Data de vencimento</th>
        <th>Pago</th>
        <th>Ação</th>
    </tr>

    @foreach (var pagamento in Model)
    {
        if (pagamento.Ativo == true)
        {

            <tr>
                <td>@pagamento.Id</td>
                <td>@pagamento.Descricao</td>
                <td>@pagamento.Valor</td>
                <td>@pagamento.DataVencimento</td>
                <td>@pagamento.Pago</td>
                <td>
                    <a asp-route-id="@pagamento.Id" asp-action="Pagar" class="btn btn-secondary"><i class="fa-solid fa-pen"></i> Pago</a>
                    <a asp-route-id="@pagamento.Id" asp-action="Editar" class="btn btn-secondary"><i class="fa-solid fa-pen"></i> Editar</a>
                    <a asp-route-id="@pagamento.Id" asp-action="Excluir" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> Excluir</a>
                </td>
            </tr>

        }
    }
</table>
