@using WebApplication1
@using WebApplication1.Models
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Veiculo>

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Selecionar Veículo</title>
    <meta charset="UTF-8">
</head>

<body>
    <div id="container">
        <h1>Selecione um veículo</h1>
        <p>@ViewBag.Ip</p>
        <table>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Placa</th>
            </tr>
                    
            <form>
                
                @for (int i = 0; i < Model.Count; i++)
                {
                        if (Model.Count == 0)
                    {
                        <label>Nenhum veículo cadastrado</label>
                    }
                    else
                    {
                    <tr>
                        <td>@Model[i].Marca</td>
                        <td>@Model[i].Modelo</td>
                        <td>@Model[i].Placa</td>
                        <td>
                            <a asp-action="Selecionar" asp-route-id="@Model[i].idVeiculo">Selecionar</a>
                        </td>
                    </tr>
                    }
                }
                
            <a class="botao botao-block" id="cadastrar" asp-route-id="@Model[0].idUsuario" asp-action="CadastrarVeiculo">Cadastrar Veículo</a><br>
            </form>
                    

        </table><br>

        <p>@Model[0].idUsuario</p>

        <p>
        </p>

    </div>
</body>

</html>